* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#icons {
  margin-left: -2px;
}
html {
  font-size: 10px;
}
#icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -11px;
}
#img {
  width: 60%;
  height: 80%;
}
#icons a img {
  width: 50px;
  padding: 8px;
  margin: 2px;
  filter: invert(100%);
}
.flexdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#innerdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
#maincontainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 1.5rem;
  justify-content: space-between;
}
#rotateimg {
  position: relative;
  left: auto;
  width: 150px;
  top: 29px;
  animation-name: rota;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rota {
  from {
    transition-property: transform;
    transform: rotate(0deg);
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
  }

  to {
    transition-property: transform;
    transform: rotate(360deg);
    transition-timing-function: ease-in-out;
  }
}
#tableconatiner {
  margin-top: 1.6rem;
}
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #childdiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #childdiv2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #childdiv3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  html {
    font-size: 14px;
  }
}

/* Larger than tablet */
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .table {
    width: 80%;
    margin: auto;
  }
  .flexdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
  #rotateimg {
    position: relative;
    left: auto;
    width: 90px;
    top: 35px;
    animation-name: rota;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  #fixproblem {
    min-width: 550px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
